<div class="row mb-4 question-block" id="question-{{ question_id }}">
    <div class="col-6">
        <div class="form-group">
            <label for="source-{{ question_id }}" class="form-label">Question</label>
            <textarea class="form-control" id="source-{{ question_id }}" rows="5"></textarea>
        </div>
    </div>

    <div class="col-6">
        <div class="form-group">
            <label for="answer-{{ question_id }}" class="form-label">Answer</label>
            <textarea class="form-control" id="answer-{{ question_id }}" rows="5"></textarea>
        </div>
    </div>
</div>
