<div class="row mb-4 question-block" id="question-{{ question.id }}">
    <div class="col-6">
        <div class="form-group">
            <label for="source-{{ question.id }}" class="form-label">Question</label>
            <textarea
                class="form-control"
                name="questions[{{ index }}][question]"
                id="source-{{ question.id }}"
                rows="5"
                >{{ question.question }}</textarea>

            <input type="hidden" name="questions[{{ index }}][id]" value="{{ question.id }}">
            <input type="hidden" name="questions[{{ index }}][project_id]" value="{{ question.project_id }}">
        </div>
    </div>

    <div class="col-6">
        <div class="form-group">
            <label for="answer-{{ question.id }}" class="form-label">Answer</label>
            <textarea
                class="form-control"
                name="questions[{{ index }}][answer]"
                id="answer-{{ question.id }}"
                rows="5"
                >{{ question.answer }}</textarea>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="answer-{{ question.id }}" class="form-label">Delete Question</label>
            <button
                type="button"
                class="btn btn-outline-danger btn-sm"
                hx-post="/delete_question/{{ question.id }}?project_id={{ question.project_id }}"
                hx-target="#main_content"
                hx-swap="outerHTML"
                hx-confirm="Are you sure you want to delete this question?">
                Delete
            </button>
            <button
                type="button"
                class="btn btn-outline-primary btn-sm mt-2"
                hx-post="/regenerate_answer/{{ question.id }}?project_id={{ question.project_id }}"
                hx-target="#question-{{ question.id }}"
                hx-swap="outerHTML"
                hx-confirm="Are you sure you want to regenerate the answer?">
                + Regenerate
            </button>
             <div class="input-group input-group-sm mb-2">
                 <input
                         type="text"
                         class="form-control"
                         name="refine_prompt"
                         placeholder="Here you can refine the answer you got"
                        >
                 <button
                         type="button"
                         class="btn btn-outline-primary"
                         hx-post="/refine_answer/{{ question.id }}?project_id={{ question.project_id }}"
                         hx-include="closest .input-group"
                         hx-target="#main_content"
                         hx-swap="outerHTML"
                         hx-confirm="Are you sure you want to refine the answer? This will regenerate the answer.">
                     🔧 Refine
                 </button>
             </div>
        </div>

    </div>

</div>
